.btn {
  padding: 0.6rem 2rem;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  color: #4b5563;
  border-radius: 4px;
  margin-right: 24px;
}

.btn-blue {
  background-color: #6366f1;
  color: #fff;
}
