.textarea {
  display: flex;
  flex-direction: column;
  padding: 0 24px 24px 0;
}

textarea {
  height: 110px;
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
  margin-top: 4px;
}
