.form {
  display: grid;
  grid-template-columns: 70% 30%;
}

.row {
  display: flex;
  flex-direction: row;
}

.form_group {
  margin: 32px 0 0 38px;
  /* border: 1px solid red; */
}

.form_image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  /* border: 1px solid blue; */
}

.image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #e2e8f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_field {
  display: flex;
  justify-content: flex-end;
  padding: 2rem 0 2rem 2rem;
}

.input {
  display: flex;
  flex-direction: column;
  padding: 0 24px 24px 0;
}

.input_box {
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  margin-top: 4px;
  width: 25%;
}
