.input {
  display: flex;
  flex-direction: column;
  padding: 0 24px 24px 0;
}

.input_box {
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  margin-top: 4px;
}
