.root {
  background-color: white;
  border-radius: 0.375rem;
  color: #1e293b;
}

.header {
  padding: 1.5rem;
  border-bottom: 1px solid #e6e6e6;
}

.title {
  color: #1e293b;
  font-size: 18px;
  font-weight: 500;
}
