.button {
  display: flex;
  padding: 0.5rem 3rem;
  background-color: white;
  border: 1px solid #e6e6e6;
  color: #4b5563;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 20px;
  justify-content: center;
}
