.select {
  display: flex;
  flex-direction: column;
  padding: 0 44px 3px 0;
  color: #1e293b;
}

.select_box {
  padding: 12.5px 4rem 12.5px 10px;
  background-color: white;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  margin-top: 4px;
}
