* {
  animation: fade-in 0.5s ease-in-out;
  box-sizing: border-box;
  color: inherit;
  font-family: 'Ubuntu', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  line-height: 1.5;
  list-style: none;
  margin: 0;
  padding: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: #f1f5f9;
  color: #ffffff;
  overflow-x: hidden;
}

#app {
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  width: 100vw;
}

#app.home {
  display: flex;
  flex-direction: column;
}

#app.home > main > *:nth-child(1) {
  animation: fade-in 1s ease-in-out 0.25s;
  animation-fill-mode: forwards;
  opacity: 0;
}
#app.home > main > *:nth-child(2) {
  animation: fade-in 1s ease-in-out 0.75s;
  animation-fill-mode: forwards;
  opacity: 0;
}
#app.home > main > *:nth-child(3) {
  animation: fade-in 1s ease-in-out 1.25s;
  animation-fill-mode: forwards;
  opacity: 0;
}
#app.home > main > *:nth-child(4) {
  animation: fade-in 1s ease-in-out 1.75s;
  animation-fill-mode: forwards;
  opacity: 0;
}
#app.home > main > *:nth-child(5) {
  animation: fade-in 1s ease-in-out 2.25s;
  animation-fill-mode: forwards;
  opacity: 0;
}

:root {
  --primary-color: #ee3124;
  --side-margin: calc(50vw - 35.75rem);
  --text-color: #191a1a;
  --slate-grey: #66686a;
  --neg-side-margin: calc(35.75rem - 50vw);
  font-size: 16px;
}

@media only screen and (max-width: 90em) {
  :root {
    --side-margin: 9.25rem;
    --neg-side-margin: -9.25rem;
    font-size: calc(100vw * 16 / 1440);
  }
}

@media only screen and (max-width: 48em) {
  * {
    line-height: 1.2;
  }

  :root {
    font-size: calc(100vw * 16 / 360);
  }
}

.header-products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

.header-products__title {
  color: #1e293b;
  font-size: 18px;
  font-weight: 500;
}

.header-products__button {
  padding: 0.5rem 1rem;
  background-color: #6366f1;
  border-radius: 4px;
  align-items: center;
}

.select-category {
  color: black;
  background-color: white;
  padding: 12.5px 4rem 12.5px 10px;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  margin-right: 44px;
}

.opacity-parent {
  color: rgba(0, 0, 0, 0.5);
}

.opacity-child {
  color: rgba(0, 0, 0, 1);
}

.green {
  color: #1ba569;
}

.green-opac {
  color: #9cd8b2;
}

.img-opac {
  opacity: 0.5;
}
