@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .normal-sidebar {
    @apply flex space-x-4 items-center mb-3 rounded-sm h-12 w-full hover:bg-[#0d1426];
  }

  .highlighted-sidebar {
    @apply flex space-x-4 items-center mb-3 rounded-sm h-12 w-full bg-[#0F172A];
  }

  .rounded-icon {
    @apply rounded-full w-10 h-10 bg-[#F1F5F9] flex justify-center items-center relative;
  }
}
